<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Redis Manager</title>
    <!--title上的图标-->
    <!--favicon地址:https://www.iconfont.cn/search/index?searchType=icon&q=R&page=3-->
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>
