@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.treeContainer {
  //border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  //padding: 8px 24px;
  //浏览器高度-头部高度-底部高度
  height: calc(100vh - 64px - 120px);
}
